<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/navbar}" >
<head>
    <meta charset="UTF-8">

    <title>Sign in</title>

    <link rel="stylesheet" type="text/css" href="../static/css/form_login.css">

</head>
<body>

<section class="container" layout:fragment="~{content}">

    <div class="wrapper fadeInDown">
        <div id="formContent">
        <!-- Tabs Titles -->
            <div th:if="${param.error}" class="alert alert-danger">Wrong username or password!</div>
            <div th:if="${param.activation}" class="alert alert-success">Success activation, please sign in</div>
            <div th:if="${param.logout}" class="alert alert-success">Success logout</div>

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="../../static/img/GuidingLightIcon.png" id="icon" alt="User Icon"/>
            </div>

            <h2> SIGN IN </h2>

            <!-- Login Form -->
            <form name="login" th:action="@{/login}" method="post">
                <input type="text" class="fadeIn second" name="username" placeholder="E-mail">
                <input type="password" class="fadeIn third" name="password" placeholder="Password">
                <input type="submit" class="fadeIn fourth" value="Sign In">
            </form>

            <input type="button" class="fadeIn fourth" value="Sign up" onclick="relocate_registration()">

            <script>
                function relocate_registration()
                {
                    location.href = "/registration";
                }
            </script>

<!--            <a class="btn btn-lg btn-danger btn-block" href="/registration" role="button">Sign up</a>-->

            <!-- Remind Password -->
            <div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
            </div>

        </div>

</section>

</body>
</html>