<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/navbar}" >
<head>
    <meta charset="UTF-8">

    <title>Sign in</title>

    <link rel="stylesheet" type="text/css" href="../static/css/form_login.css">

</head>
<body>

<section class="container" layout:fragment="~{content}">

    <form name="login" th:action="@{/login}" method="post" class="form-signin">

        <h2 class="form-signin-heading">Please sign in</h2>

        <div id="err" th:if="${param.error}" class="alert alert-danger">Wrong username or password!</div>
        <div th:if="${param.activation}" class="alert alert-success">Success activation, please sign in</div>
        <div th:if="${param.logout}" class="alert alert-success">Success logout</div>

        <label for="email" class="sr-only">Email</label>
        <input type="email" id="email" name="username" class="form-control" placeholder="E-mail" required="true" />

        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="true" />

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <div>OR</div>
        <a class="btn btn-lg btn-danger btn-block" href="/registration" role="button">Sing up</a>
    </form>

</section>

</body>
</html>