<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout/navbar}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <title>Guiding Light - Password Recovery</title>

    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="../../static/css/auth/password-recovery.css">
</head>
<body>

<section class="container" layout:fragment="~{content}">

    <div class="wrapper fadeInDown">
        <div id="formContent">

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="../../static/img/ForgotPasswordIcon.png" id="icon" alt="User Icon"/>
            </div>

            <form name="forgot-password" th:action="@{/password_recovery}" th:object="${user}" method="post">

                <input type="hidden" th:value="${user.id}" id="id" name="id" value="0">
                <input type="hidden" th:value="${user.activation}" id="activation" name="activation" value="0">

                <input type="password" name="password" class="fadeIn second"
                       th:field="*{password}" placeholder="Password">
                <input type="submit" class="fadeIn third" value="Change password">

            </form>

        </div>
    </div>

</section>

</body>
</html>