<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/navbar}">
<head>
    <meta charset="UTF-8">

    <title>Guiding Light</title>

    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="/css/auth/registration.css">
    <link rel="stylesheet" type="text/css" href="/css/auth/password-check-modal.css">

    <!-- My JS -->
    <script src="/js/auth/password-validation.js" defer></script>
</head>
<body>

<section class="container" layout:fragment="~{content}">

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div th:if="${param.error}" class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">×</button>
                Wrong username or password!</div>

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="/img/GuidingLightIcon.png" id="icon" alt="User Icon"/>
            </div>

            <h2> SIGN UP </h2>

            <form name="registration" th:action="@{/registration}" th:object="${user}"
                  onsubmit="return passwordValidation();" method="post">

                <input type="email" name="email" class="fadeIn second"
                       th:field="*{email}" placeholder="E-mail"/>

                <input type="password" name="password" id="password" class="fadeIn second"
                       th:field="*{password}" placeholder="Password">

                <input type="password" name="confirm-password" id="confirm-password" class="fadeIn second"
                       placeholder="Password">

                <div id="password-not-match" class="password-not-match password-not-match-display-none">
                    Password is not match!
                </div>

                <input type="submit" class="fadeIn fourth" value="Sign Up">

    </form>
    </div>
    </div>

    <!-- The Password Not Valid Modal -->
    <div class="modal fade" id="password-not-valid">
        <div class="modal-dialog modal-dialog-centered">
            <!-- Modal Content -->
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header  modal-header-danger">
                    <h5 class="modal-title">Your password is not valid!</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div id="message">
                        <p id="letter" class="invalid">
                            - A <b>lowercase</b> letter</p>
                        <p id="capital" class="invalid">
                            - A <b>capital (uppercase)</b> letter</p>
                        <p id="number" class="invalid">
                            - A <b>number</b></p>
                        <p id="length" class="invalid">
                            - Minimum <b>8 characters</b></p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

</body>
</html>
