<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

        <link rel="shortcut icon" type="image/png" href="../../static/img/GuidingLightIcon.png"/>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <!-- My CSS -->
        <link rel="stylesheet" type="text/css" href="../static/css/navbar.css">

        <!-- My JS -->
        <script src="../../static/js/navbar.js" defer></script>
    </head>

    <body>

        <!--Navbar -->
        <nav class="navbar navbar-expand-md bg-dark">

            <a class="navbar-brand" href="/">
                <img src="../../static/img/GuidingLightIcon.png" height="25">
            </a>

            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent-555"
                    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item active">
                        <a class="nav-link" href="/">
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/tutorials">Tutorials</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/tests">Tests</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/forum">Forum</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>


                <ul class="navbar-nav ml-auto nav-flex-icons">

                    <li class="nav-item dropdown">
                        <form sec:authorize="isAuthenticated()" id="frmlogout" th:action="@{/logout}" method="post">

                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="https://robohash.org/${#authentication.name}"
                                     class="rounded-circle z-depth-0" height="25">
                            </a>

                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <div class="dropdown-item" sec:authentication="name"></div>
                                <a class="dropdown-item" href="/profile">Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:{}"
                                   onclick="document.getElementById('frmlogout').submit(); return false;">logout
                                </a>
                            </div>
                        </form>
                    </li>

                    <div sec:authorize="isAnonymous()">
                        <a class="nav-link p-0" href="/login">
                            <span>Sign in</span>
                        </a>
                    </div>

                </ul>
            </div>
        </nav>
        <!--/.Navbar -->

        <section layout:fragment="~{content}"></section>

    </body>
</html>