<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/navbar}" >
<head>
    <meta charset="UTF-8">

    <title>Not supported</title>

    <link rel="stylesheet" type="text/css" href="../static/css/forum/forum.css">
</head>
<body>

<section class="container" layout:fragment="~{content}">

    <h2>forum</h2>

    <ul class="list-group">

        <a href="#" class="list-group-item list-group-item-action list-group-item-dark">
            This is a dark list group item</a>

    </ul>


</section>

</body>
</html>
