<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/navbar}"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <title>Guiding Light - Forum</title>

    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/forum/forum.css">
    <link rel="stylesheet" type="text/css" href="../static/css/forum/pagination.css">

    <!-- My JS -->
    <script type="text/javascript" src="../../static/js/forum/forum.js" defer></script>
</head>
<body>

<section class="container" layout:fragment="~{content}">

    <!--New Question button-->

    <div sec:authorize="isAuthenticated()">
        <div class="wrapper fadeInDown">
            <input type="button" class="fadeIn first"
                   value="New Question" onclick="newQuestion()">
        </div>
    </div>

    <div sec:authorize="isAnonymous()">
        <div class="wrapper fadeInDown">
            <input type="button" class="fadeIn first"
                   value="New Question" onclick="login()">
        </div>
    </div>

    <!--Questions-->

    <div class="list-group fadeInDown">

        <div th:each="question : ${questionPage.content}">

            <a th:href="@{'/question/' + ${question.id}}"
               class="list-group-item list-group-item-action list-group-item-dark flex-column align-items-start fadeIn second">

                <div class="d-flex w-100 justify-content-between">
                    <h5 th:text="${question.title}" class="mb-1">
                        Title
                    </h5>
                    <h6 class="small" th:text="${{question.submissionTime}}">
                    </h6>
                </div>

                <p th:text="${question.content}" class="mb-1">
                    Content
                </p>
            </a>

        </div>

        <!--Pagination-->

        <div th:if="${questionPage.totalPages > 0}" class="container mt-2 mb-6 fadeIn third">

            <ul class="pagination pagination-sm justify-content-center">

                <!-- Jump first page -->
                <div th:if="${currentPage > 1}">
                    <li class="page-item"><a class="page-link"
                                             th:href="@{/forum(size=${questionPage.size}, page=${1})}">&laquo;</a></li>
                </div>

                <!-- Jump previous page -->
                <div th:if="${currentPage > 3}">
                    <li class="page-item"><a class="page-link"
                                             th:href="@{/forum(size=${questionPage.size}, page=${currentPage - 3})}"
                                             th:text="${currentPage - 3}">previous</a>
                    </li>
                </div>

                <div th:if="${currentPage > 2}">
                    <li class="page-item"><a class="page-link"
                                             th:href="@{/forum(size=${questionPage.size}, page=${currentPage - 2})}"
                                             th:text="${currentPage - 2}">previous</a>
                    </li>
                </div>

                <div th:if="${currentPage > 1}">
                    <li class="page-item"><a class="page-link"
                                             th:href="@{/forum(size=${questionPage.size}, page=${currentPage - 1})}"
                                             th:text="${currentPage - 1}">previous</a>
                    </li>
                </div>

                <!-- Jump page number -->
                <li class="page-item active"><a class="page-link"
                                                th:href="@{/forum(size=${questionPage.size}, page=${currentPage})}"
                                                th:text="${currentPage}">100</a></li>

                <!-- Jump next page -->
                <div th:if="${currentPage < questionPage.totalPages}">
                    <li class="page-item"><a class="page-link"
                                             th:href="@{/forum(size=${questionPage.size}, page=${currentPage + 1})}"
                                             th:text="${currentPage + 1}">next</a>
                    </li>
                </div>

                <div th:if="${(currentPage + 1) < questionPage.totalPages}">
                    <li class="page-item"><a class="page-link"
                                             th:href="@{/forum(size=${questionPage.size}, page=${currentPage + 2})}"
                                             th:text="${currentPage + 2}">next</a>
                    </li>
                </div>

                <div th:if="${(currentPage + 2) < questionPage.totalPages}">
                    <li class="page-item"><a class="page-link"
                                             th:href="@{/forum(size=${questionPage.size}, page=${currentPage + 3})}"
                                             th:text="${currentPage + 3}">next</a>
                    </li>
                </div>

                <!-- Jump last page -->
                <div th:if="${currentPage < questionPage.totalPages}">
                    <li class="page-item"><a class="page-link"
                                             th:href="@{/forum(size=${questionPage.size}, page=${questionPage.totalPages})}">&raquo;</a>
                    </li>
                </div>

            </ul>

        </div>


    </div>

</section>

</body>
</html>
