<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/navbar}"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Guiding Light - Question</title>

    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="/css/forum/question.css">

    <!-- My JS -->
    <script type="text/javascript" src="/js/forum/question.js" defer></script>

</head>
<body>

<section class="container" layout:fragment="~{content}">

    <div th:if="${question != null}">

        <div id="user-id" th:text="${question.user.id}" style="display: none;">
            User ID
        </div>

        <button id="modal-button" th:text="${question.user.email}" type="button" class="btn btn-secondary fadeIn second">
            Open modal
        </button>

        <div class="wrapper fadeInDown">

            <!--Question-->
            <div class="list-group-item list-group-item-action list-group-item-dark flex-column align-items-start fadeIn second">

                <div class="d-flex w-100 justify-content-between">
                    <h5 th:text="${question.title}" class="mb-1">Title</h5>
                    <h6 class="small" th:text="${{question.submissionTime}}"></h6>
                </div>

                <p th:text="${question.content}" class="mb-1">
                    Content
                </p>
            </div>
        </div>

        <!--New Answer Button-->
        <div>
            <div sec:authorize="isAuthenticated()">
                <div class="wrapper fadeInDown">
                    <input type="button" class="fadeIn second"
                           value="New Answer" onclick="newAnswer()">
                </div>
            </div>

            <div sec:authorize="isAnonymous()">
                <div class="wrapper fadeInDown">
                    <input type="button" class="fadeIn second"
                           value="New Answer" onclick="login()">
                </div>
            </div>
        </div>

        <!--Answers-->
        <div class="list-group fadeInDown">
            <div th:each="answer : ${answers}">
                <div class="list-group-item list-group-item-action list-group-item-dark flex-column align-items-start fadeIn third">

                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"></h5>
                        <h6 class="small" th:text="${{answer.submissionTime}}"></h6>
                    </div>

                    <p th:text="${answer.answer}" class="mb-1">
                        Content
                    </p>
                </div>
            </div>
        </div>


    </div>

    <div th:if="${question == null}">
        <div class="wrapper fadeInDown">
            <h3>Question is not exists!</h3>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal" id="user-modal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Modal body..
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</section>

</body>
</html>