<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/navbar}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <title>Profile</title>
</head>
<body>

<section class="container" layout:fragment="~{content}">

    <form name="profile" th:action="@{/profile}" th:object="${profile}" method="post">

        <h2>Profile</h2>

        <input type="text" name="first-name" th:field="*{firstName}" placeholder="First name"/>
        <input type="text" name="last-name" th:field="*{lastName}" placeholder="Last name"/>

        <input type="submit" value="Save">

    </form>


</section>

</body>
</html>
