<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/navbar}" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <title>Guiding Light - Profile</title>

    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/profile.css">
</head>
<body>

<section class="container" layout:fragment="~{content}">

    <div class="wrapper fadeInDown">
        <div id="formContent">

            <!-- Icon -->
            <div class="fadeIn first">
                <img th:src="@{http://www.robohash.org/{user}(user = ${#authentication.name} )}" id="icon"
                     alt="User Icon"/>
            </div>

            <div>
                <h2>Profile</h2>
            </div>

            <h3 sec:authentication="name">Profile</h3>

            <form name="profile" th:action="@{/profile}" th:object="${profile}" method="post">

                <h3>Name</h3>

                <div style="white-space:nowrap">
                    <label for="nick-name">Nick name:</label>
                    <input id="nick-name" type="text" name="nick-name" class="fadeIn second" th:field="*{nickName}"
                           placeholder="Nick name"/>
                </div>
                <div style="white-space:nowrap">
                    <label for="first-name">First name:</label>
                    <input id="first-name" type="text" name="first-name" class="fadeIn second" th:field="*{firstName}"
                           placeholder="First name"/>
                </div>
                <div style="white-space:nowrap">
                    <label for="last-name">Last name:</label>
                    <input id="last-name" type="text" name="last-name" class="fadeIn second" th:field="*{lastName}"
                           placeholder="Last name"/>
                </div>

                <h3>Address</h3>

                <div style="white-space:nowrap">
                    <label for="country">&nbsp;Country:</label>
                    <input id="country" type="text" name="country" class="fadeIn fourth" th:field="*{country}"
                           placeholder="Country"/>
                </div>
                <div style="white-space:nowrap">
                    <label for="city">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;City:</label>
                    <input id="city" type="text" name="city" class="fadeIn fourth" th:field="*{city}"
                           placeholder="City"/>
                </div>

                <input type="submit" value="Save">

            </form>
        </div>
    </div>


</section>

</body>
</html>
