<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/navbar}">
<head>
    <meta charset="UTF-8">

    <title>Guiding Light</title>

    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/form_login.css">
</head>
<body>

<section class="container" layout:fragment="~{content}">

    <div class="wrapper fadeInDown">
        <div id="formContent">

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="../../static/img/GuidingLightIcon.png" id="icon" alt="User Icon"/>
            </div>

            <h2> SIGN UP </h2>

            <form name="registration" th:action="@{/registration}" th:object="${user}" method="post">

                <input type="email" name="email" class="fadeIn second"
                       th:field="*{email}" placeholder="E-mail"/>
                <input type="password" name="password" class="fadeIn third"
                       th:field="*{password}" placeholder="Password">
                <input type="submit" class="fadeIn fourth" value="Sign Up">

            </form>
        </div>
    </div>
</section>

</body>
</html>
