.modal-header-danger {
    color: #fff;
    padding: 9px 15px;
    background-color: #ba2525;
}

.invalid {
    color: RED;
}

.invalid:before {
    content: "X";
}

.valid {
    color: GREEN;
}

.valid:before {
    content: "✓";
}
